@model List<Oturum>
@{
    ViewData["Title"] = "GetOturum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/rowreorder/1.4.1/css/rowReorder.dataTables.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">



<div class="row">
    <div class="card">
        <div class="card-header">
            <h3 class="text-center">Oturumlar</h3>
        </div>
        <div class="card-body">
            <table id="example1" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Oturum Id</th>
                        <th>Oturum Token</th>
                        <th>Katılımcı Sayısı</th>
                        <th>Oturum Durumu</th>
                        <th>Oturum Tarihi</th>
                        <th>Oturum Saati</th>                    
                        <th>İşlemler</th> <!-- Action butonları için ek sütun -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Token</td>
                            <td>@item.CompetitorsNumber</td>
                            <td>
                                @if (item.Status == 1)
                                {
                                    <span style="color: white; background-color: green; padding: 5px;">Aktif</span>
                                }
                                else
                                {
                                    <span style="color: white; background-color: red; padding: 5px;">Kapandı</span>
                                }
                            </td>

                            <td>@item.Date.ToString("d MMMM yyyy")</td>

                            <td>@item.Date.ToString("HH:mm")</td>     <!-- Saat, dakika formatı -->

                         
                            <td>
                                <a asp-action="GetContestant" asp-controller="Admin" asp-route-id="@item.Id" class="text-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Detay" data-bs-original-title="View detail" aria-label="Views"><i class="bi bi-eye-fill"></i></a>
          
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.print.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.4.1/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script>
    jQuery.noConflict();
    jQuery(document).ready(function ($) {
        $('#example1').DataTable({
            scrollX: true,
            responsive: true,
            rowReorder: {
                selector: 'td:nth-child(2)'
            },
            language: {
                info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                infoEmpty: "Gösterilecek hiç kayıt yok.",
                loadingRecords: "Kayıtlar yükleniyor.",
                zeroRecords: "Tablo boş",
                search: "Arama:",
                infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                buttons: {
                    copyTitle: "Panoya kopyalandı.",
                    copySuccess: "Panoya %d satır kopyalandı",
                    copy: "Kopyala",
                    print: "Yazdır",
                },
                paginate: {
                    first: "İlk",
                    previous: "Önceki",
                    next: "Sonraki",
                    last: "Son"
                },
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            // Tarihe (5. sütun) ve saate (6. sütun) göre sıralama
            order: [[4, 'desc'], [5, 'desc']] // 0 tabanlı indeksleme ile 5. sütun tarih, 6. sütun saat
        });
    });
</script>

